[Unit]
Description=RBus Diagnostics Reporter
After=local-fs.target
Before=WPEFramework.service

[Service]
Type=simple
User=rbusdiag
Group=rbusdiag
ExecStart=/usr/bin/rbus-diagnostics-reporter
Restart=on-failure
RuntimeDirectory=rbus-diagnostics
RuntimeDirectoryMode=0750
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
